<h1 class="logo cursive">
    ADBoards
</h1>
<!--  H1 can have 2 designs: "logo" and "logo cursive"           -->
<div class="content">
    <h4 class="motto">Реклама в Бишкеке</h4>
    <div class="subscribe">
        <div class="row">
            <h5 class="info-text">
                Присоединяйся к нам и получи лучшую рекламу
            </h5>
        </div>
    </div>
</div>